<div class='container-modal'>
  <div class='modal-window'>
    <button type='button' class='btn-close'>
      <svg
        width='30'
        height='30'
        viewBox='0 0 30 30'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d='M8 8L22 22' stroke='black' stroke-width='2'></path>
        <path d='M8 22L22 8' stroke='black' stroke-width='2'></path>
      </svg>
    </button>

    <div class='table-div'></div>
    <div class='img-modal'>
      {{#if this.posterUrl}}
        <img src='{{this.posterUrl}}' alt='film poster' />
      {{else}}
        <img src='{{this.noImage}}' alt='#' />
      {{/if}}
    </div>

    <div class='modal-description'>
      <h2 class='modal-title modal__item-position'>{{this.title}}</h2>
      <table class='modal__item-position'>
        <tr>
          <th class='info-table-th'>Vote/ Votes</th>
          <td>
            <span class='info-span-avarage'>{{this.vote_average}}</span>
            <span>/ </span>
            <span class='info-span-all'>{{this.vote_count}}</span>
          </td>
        </tr>
        <tr>
          <th class='info-table-th'>Popularity</th>
          <td>{{this.popularity}}</td>
        </tr>
        <tr>
          <th class='info-table-th'>Original Title</th>
          <td>
            <span class='info-span-original-title'>{{this.original_title}}</span>
          </td>
        </tr>
        <tr>
          <th class='info-table-th'>
            Genres
          </th>
          <td>
            <span class='info-span-genre'>
              {{#if this.genres}}
                {{this.genres}}
              {{/if}}</span>
          </td>
        </tr>
      </table>

      <div class='description'>
        <h3 class='about-title'>About</h3>
        <p class='about-description'>
          {{this.overview}}
        </p>
      </div>
      <div class='btn-modal'>
        <button
          type='button'
          class='js-watch-btn btn-add'
          data-id='{{this.id}}'
          data-type='watched'
        ></button>
        <button
          type='button'
          class='js-queue-btn btn-add'
          data-id='{{this.id}}'
          data-type='queue'
        ></button>
      </div>
      <div class='btn-modal'>

        <button
          type='button'
          class='js-trailer-btn btn-add'
          data-id='{{this.id}}'
          data-type='trailer'
        >Original trailer</button>
        <button
          type='button'
          class='js-find-trailer-btn btn-add'
          data-id='{{this.id}}'
          data-type='trailer'
        >Find trailer</button>
        <button
          type='button'
          class='js-gSearch-btn btn-add'
          data-id='{{this.id}}'
          data-type='gSearch'
        >Watch</button></div>
    </div>
  </div>
</div>